<!-- AQUI VAMOS A PROBAR A CREAR EL INPUT FILE CON ANGULAR MATERIAL -->
<div id="evaluar">
    <button mat-button color="primary" (click)="onClick()"
            *ngIf="archivosMultiples.length == 0 && cargando == false" class="botonprimario">
        <mat-icon>file_upload</mat-icon>
        Seleccionar imagenes
    </button>
    <button mat-button color="primary" (click)="uploadImage()"
            *ngIf="archivosMultiples.length > 0 && cargando == false" class="botonprimario">
        <mat-icon>file_upload</mat-icon>
        Subir imagenes
    </button>
    <div *ngIf="cargando == true" id="loading" class="cajaprimaria">
        <br>
        <span>Loading...</span>
        <br>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <input type="file" id="fileUpload" name="fileUpload" multiple style="display: none;" (change)="capturarFile($event)">

    <div class="cajaprimaria" *ngIf="recibido == 1 && images.length > 0">
        <!-- <mat-accordion > -->
            <mat-expansion-panel>
                <mat-expansion-panel-header [collapsedHeight]="'90px'" [expandedHeight]="'50px'">
                    <mat-panel-title>IMAGENES SELECCIONADAS</mat-panel-title>
                    <mat-panel-description>Previsualizacion de las imagenes.</mat-panel-description>
                </mat-expansion-panel-header>
                <div id="preview">
                    <div *ngFor="let image of images; let i = index" class="previewdata">
                        <span>{{image.imagename}}:</span>
                        <img  [src]="image.imagebytes" width="200px" class="imagenpreview">
                        <button mat-button color="primary" class="removeimage" (click)="removeImage(i)">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div> 
                </div>
            </mat-expansion-panel>
        <!-- </mat-accordion> -->
    </div>

    <div class="cajaprimaria" *ngIf="recibido == 2">        
        <mat-tab-group mat-align-tabs="center" >
            <mat-tab label="{{image.imagename}}" *ngFor="let image of images">
                <div id="resultado">
                    <br>
                    <p class="resultadomsg">{{image.imageresult}}</p>
                    <img [src]="base64type + image.imagebytes" width="200px">
                </div>
            </mat-tab>

            <!-- <mat-tab label="prueba" *ngFor="let letra of prueba">
                <div id="resultado">
                    <br>
                    <p class="resultadomsg">{{letra}}</p>
                </div>
            </mat-tab> -->
        </mat-tab-group>
    </div>
</div>
<!-- ====================== FIN ANGULAR MATERIAL ====================== -->